<ion-view title="FreePong">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item>
        <!-- <div id="animacionfreepong_hype_container" style="margin:auto;position:relative;width:600px;height:400px;overflow:hidden;" aria-live="polite">
          <script type="text/javascript" charset="utf-8" src="../animacionFreePong.hyperesources/animacionfreepong_hype_generated_script.js"></script>
        </div>
        <div style="display:none">
          <div>Pong</div>
          <div>Free</div>
        </div> -->
        <div>
          <img id="gifintro" src="img/animacionFreePong.gif" alt="" />
        </div>
      </ion-item>
      <ion-item>
        <h1>FreePong</h1>
        <h2>Crea partidas personalizadas de Pin Pong</h2>
        <h3>· Elige un campo en tu zona</h3>
        <h3>· Elige el horario que mejor te vaya</h3>
        <h3>· Crea tu partida</h3>
        <h3>· Espera a que un jugador se una</h3>
        <h3>· Y a jugar!!</h3>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>